body {
  background-color: #282c34;
  color: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #383d47;
  min-height: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Message-hello {
  color: #70fcb4;
}

.Form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 230px;
  justify-content: space-between;
}

.Message-input {
  color: white;
  background-color: #282c34;
  box-shadow: 0px 0px 6px 0px #70fcb433;
  padding: 15px;
  margin: 5px 0px 5px 0px;
  border: none;
  resize: none;
  width: 435px;
}

.Message-output {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 400px;
  margin: 20px;
  box-shadow: inset 0px 0px 3px 0px #00fff2;
  padding: 2px 0 4px 5px;
  background-color: #282c34;
  color: white;
}

.Message-output-first {
  display: flex;
  justify-content: space-between;
  color: #63fcb430;
}
.Message-output-first span {
  width: 340px;
}

.Messages-output-author-name, .Messages-output-text {
  color: #63fcb4;
}

.Button {
  color: white;
  background-color: #282c34;
  box-shadow: inset 0px 0px 6px 0px #70fcb433;
  margin: 5px 0px 5px 0px;
  border: none;
  padding: 15px;
}